html,
body {
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: column;
  align-items: center;
}

.book {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.form form {
  display: flex;
  flex-flow: column nowrap;
}

#book-container {
  width: 1000px;
  display: flex;
  flex-flow: row wrap;
}
