html,
body {
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.book {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  padding: 30px 30px;
}

.form form {
  display: flex;
  flex-flow: column nowrap;
}

#book-container {
  width: 60%;
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: #57c4ff;
  overflow: auto;
}
